/* 
0 - 600px - phone
600 - 900px -tablet portrait
900px - 1200px - tablet landscape
1200px - 1800px - desktop (where our normal style apply)
1800px + - big desktops
*/
/*
$breakpoint argument choices: 
- phone
- tab-portrait
- tab-landscape
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  /* 1.7 times bigger */
  color: #777;
}

.hero-heading {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* fix some shaking due to animations */
  backface-visibility: hidden;
}
.hero-heading--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1.5s ease-in-out;
  /* shorthand above 
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  */
}
@media (max-width: 37.5em) {
  .hero-heading--main {
    letter-spacing: 1rem;
    font-size: 5rem;
  }
}
.hero-heading--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.7rem;
  animation: moveInRight 1.5s ease-in-out;
}
@media (max-width: 37.5em) {
  .hero-heading--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  z-index: 5;
  transition: all 0.2s;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(5deg);
  text-shadow: 5px 1rem 2rem rgba(0, 0, 0, 0.4);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.text {
  font-size: 1.6rem;
}
.text:not(:last-child) {
  margin-bottom: 3rem;
}

/* ANIMATIONS */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes moveButtonUp {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.text-center {
  text-align: center;
}

.marg-top-l {
  margin-top: 8rem;
}

.marg-top-xl {
  margin-top: 10rem;
}

.marg-bottom-s {
  margin-bottom: 1.5rem;
}

.marg-bottom-m {
  margin-bottom: 4rem;
}
@media (max-width: 56.25em) {
  .marg-bottom-m {
    margin-bottom: 3rem;
  }
}
@media (max-width: 37.5em) {
  .marg-bottom-m {
    margin-bottom: 2rem;
  }
}

.marg-bottom-l {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .marg-bottom-l {
    margin-bottom: 5rem;
  }
}

/* BUTTON */
.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  /* making animation more natural */
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover, .btn:focus {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after, .btn:focus::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  z-index: -5;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveButtonUp 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* automatically applies the styles at 0% before animation starts*/
}

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.group {
  position: relative;
}
.group__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: all 0.2s;
  outline-offset: 1rem;
}
@media (max-width: 56.25em) {
  .group__photo {
    float: left;
    position: relative;
    width: 33.3333333%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.group__photo--p1 {
  right: 3rem;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .group__photo--p1 {
    top: 0;
    right: 0;
    transform: scale(1.2);
  }
}
.group__photo--p2 {
  left: 0;
  top: 2.5rem;
}
@media (max-width: 56.25em) {
  .group__photo--p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 5;
  }
}
.group__photo--p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 56.25em) {
  .group__photo--p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
.group__photo:hover {
  outline: 1rem solid #55c57a;
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 10;
}
.group:hover .group__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  height: 34rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.4rem;
  text-align: center;
  border-radius: 3px;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 56.25em) {
  .feature-box {
    padding: 2rem;
  }
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.02);
}

.card {
  position: relative;
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 52rem;
  width: 100%;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5649fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  background-size: cover;
  height: 24rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--1 {
  background-image: url(/img/nat-5.jpg), linear-gradient(to right bottom, #ffb900, #ff7730);
  background-blend-mode: screen;
}
.card__picture--2 {
  background-image: url(/img/nat-6.jpg), linear-gradient(to right bottom, #7ed56f, #28b485);
  background-blend-mode: screen;
}
.card__picture--3 {
  background-image: url(/img/nat-7.jpg), linear-gradient(to right bottom, #2998ff, #5649fa);
  background-blend-mode: screen;
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  width: 75%;
  position: absolute;
  top: 12rem;
  right: 2rem;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 73, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  text-align: center;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    position: relative;
    height: auto;
    box-shadow: none;
  }
  .card__side--back {
    transform: rotateY(0);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    position: relative;
    width: 100%;
    top: 0%;
    left: 0;
    transform: translate(0);
    padding: 7rem 4rem 4rem 4rem;
  }
  .card__price {
    margin-bottom: 3rem;
  }
  .card__price-value {
    font-size: 4rem;
  }
}

.stories {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .stories {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}
@media (max-width: 37.5em) {
  .stories {
    transform: skewX(0);
  }
}
.stories__round {
  width: 15rem;
  height: 15rem;
  float: left;
  background-color: pink;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg) translateY(-2rem);
  position: relative;
  overflow: hidden;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .stories__round {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}
@media (max-width: 37.5em) {
  .stories__round {
    transform: translateX(-3rem) skewX(0);
  }
}
.stories__img {
  height: 100%;
  transform: translateX(-3.5rem) scale(1.4);
  transition: all 0.6s;
}
.stories__text {
  transform: skewX(12deg) translateY(-1rem);
}
@media (max-width: 37.5em) {
  .stories__text {
    transform: skewX(0);
  }
}
.stories__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
  transition: all 0.6s;
  backface-visibility: hidden;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
}
.stories:hover .stories__caption {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.stories:hover .stories__img {
  transform: translateX(-3.5rem) scale(1);
  filter: blur(3px);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* IMPORTANT: 
the radio buttons that are styled, which are basically replaced, become inaccessible
to keyboard users because the spacebar doesn't work on that. 
One possible solution for this problem is to use JS to listen for keydown
events that match the spacebar and add the checked class to the appropriate 
hidden button. We should always plan for accessibility and be aware of their 
issues that might arise with some styling */
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  width: 90%;
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1.6rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  transition: all 0.3s;
  border-bottom: 3px solid transparent;
}
@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 48%;
  display: inline-block;
}
.form__radio-group:last-child {
  margin-bottom: 2rem;
}
@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
}
.form__radio-btn {
  height: 3rem;
  width: 3rem;
  display: inline-block;
  position: absolute;
  border: 5px solid #55c57a;
  border-radius: 50%;
  left: 0;
  top: -0.7rem;
}
.form__radio-btn::after {
  display: block;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1;
}

.popup {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5000;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.4s 0.2s;
}
@media (max-width: 56.25em) {
  .popup__content {
    width: 90%;
  }
}
@media (max-width: 37.5em) {
  .popup__content {
    display: block;
    height: 45rem;
  }
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
@media (max-width: 56.25em) {
  .popup__left {
    display: none;
  }
}
.popup__right {
  height: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media (max-width: 37.5em) {
  .popup__right {
    display: block;
    width: 100%;
    margin: 0;
    padding: 6rem 2rem 3rem;
  }
}
.popup__img {
  display: block;
  width: 100%;
}
@media (max-width: 75em) {
  .popup__img {
    padding-top: 1.5rem;
  }
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #999;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #999;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 37.5em) {
  .popup__text {
    display: flex;
    overflow: hidden;
    max-height: 15ch;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
@media (max-width: 37.5em) {
  .popup__close:link, .popup__close:visited {
    top: 1.5rem;
    right: 1.5rem;
  }
}
.popup__close:hover {
  color: #55c57a;
}

.header {
  height: 85vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }
}
@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  width: 5rem;
}
.header__text-container {
  /* one way to center something */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 2rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1of2 {
  width: calc((100% - 2rem) / 2);
}
.row .col-1of3 {
  width: calc((100% - 2 * 2rem) / 3);
}
.row .col-1of4 {
  width: calc((100% - 3 * 2rem) / 4);
}

.footer {
  background-color: #333;
  color: #f7f7f7;
  padding: 10rem 0;
  font-size: 1.4rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-container {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .footer__logo-container {
    margin-bottom: 6rem;
  }
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__nav {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .footer__nav {
    width: 100% !important;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}
@media (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.nav__checkbox {
  display: none;
}
.nav__btn {
  cursor: pointer;
  background-color: #fff;
  text-align: center;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  z-index: 1500;
}
@media (max-width: 56.25em) {
  .nav__btn {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .nav__btn {
    top: 3rem;
    right: 3rem;
  }
}
.nav__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .nav__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .nav__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.nav__navigation {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -1000px;
  z-index: 1250;
  opacity: 1;
  width: 0;
  transition: all 0.8s cubic-bezier(0.63, -0.55, 0.265, 1.55);
}
.nav__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav__item {
  margin: 1rem;
}
.nav__link:link, .nav__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 235%;
  transition: all 0.4s;
}
.nav__link:link span, .nav__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.nav__link:hover, .nav__link:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}
.nav__checkbox:checked ~ .nav__background {
  transform: scale(80);
}
.nav__checkbox:checked ~ .nav__navigation {
  opacity: 1;
  width: 100%;
  left: 0;
}
.nav__icon {
  position: relative;
  margin-top: 3.5rem;
}
.nav__icon, .nav__icon::before, .nav__icon::after {
  width: 3rem;
  height: 2px;
  display: inline-block;
  background-color: #333;
}
.nav__icon::before, .nav__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav__icon::before {
  top: -0.8rem;
}
.nav__icon::after {
  top: 0.8rem;
}
.nav__btn:hover .nav__icon::before {
  top: -1rem;
}
.nav__btn:hover .nav__icon::after {
  top: 1rem;
}
.nav__checkbox:checked + .nav__btn .nav__icon {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__btn .nav__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav__checkbox:checked + .nav__btn .nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-about {
  background-color: #f7f7f7;
  margin-top: -25vh;
  padding: 25rem 0;
}
@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 0;
  }
}
.section-about__heading {
  text-align: center;
  margin-bottom: 8rem;
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(/img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-6deg);
}
.section-features > * {
  transform: skewY(6deg);
}
@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 0;
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 14rem 0;
  margin-top: -10rem;
}
@media (max-width: 56.25em) {
  .section-tours {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}
@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25em) {
  .section-booking {
    padding: 10rem 0;
  }
}

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 4px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 75em) {
  .booking {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, transparent 70%), url(/img/nat-10.jpg);
    background-size: cover;
  }
}
@media (max-width: 56.25em) {
  .booking {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(/img/nat-10.jpg);
  }
}
.booking__form {
  width: 50%;
  padding: 6rem;
}
@media (max-width: 75em) {
  .booking__form {
    width: 65%;
  }
}
@media (max-width: 56.25em) {
  .booking__form {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
