@use "../abstracts/variables" as *;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin shadow-box {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
}

@mixin absoluteXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGMENT

/* 
0 - 600px - phone
600 - 900px -tablet portrait
900px - 1200px - tablet landscape
1200px - 1800px - desktop (where our normal style apply)
1800px + - big desktops
*/

/*
$breakpoint argument choices: 
- phone
- tab-portrait
- tab-landscape
- big-desktop
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == tab-portrait {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == tab-landscape {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
