@use "../abstracts/variables" as *;

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin shadow-box {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
}

@mixin absoluteXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGMENT

/* 
0 - 600px - phone
600 - 900px -tablet portrait
900px - 1200px - tablet landscape
1200px - 1800px - desktop (where our normal style apply)
1800px + - big desktops
*/

/*
$breakpoint argument choices: 
- phone
- tab-portrait
- tab-landscape
- big-desktop
*/

// I'll use em and not rem on brekpoints because rems in some browsers tend to work incorrect

//1em = 16px 600/16 37.5em
@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen (max-width: 37.5em) {
      @content;
    }
  }

  // 900/16 56.25em
  @if $breakpoint == tab-portrait {
    @media only screen (max-width: 56.25em) {
      @content;
    }
  }

  // 1200/16 75em
  @if $breakpoint == tab-landscape {
    @media only screen (max-width: 75em) {
      @content;
    }
  }

  // 1800/16 112.5em
  @if $breakpoint == big-desktop {
    @media only screen (min-width: 112.5em) {
      @content;
    }
  }
}
