// COLORS

$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-black: #000;
$color-grey: #777;
$color-grey-light1: #f7f7f7;
$color-white: #fff;

// GRIDS

$grid-with: 114rem;
$vertical-gap: 8rem;
$horizontal-gap: 2rem;
