// COLORS

$color-primary-light: #7ed56f;
$color-primary: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light-blue: #2998ff;
$color-tertiary-dark: #5649fa;

$color-black: #000;
$color-grey: #777;
$color-grey-light1: #f7f7f7;
$color-white: #fff;

// FONT SIZES

$default-size: 1.6rem;

// GRIDS

$grid-width: 114rem;
$vertical-gap: 8rem;
$horizontal-gap: 2rem;
