@use "../abstracts/index" as *;

.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $vertical-gap;

    @include responsive(tab-portrait) {
      margin-bottom: $vertical-gap-s;
    }
  }

  @include responsive(tab-portrait) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $horizontal-gap;

      @include responsive(tab-portrait) {
        margin-right: 0;
        margin-bottom: $vertical-gap-s;
      }
    }

    @include responsive(tab-portrait) {
      width: 100% !important;
    }
  }

  .col-1of2 {
    width: calc((100% - #{$horizontal-gap}) / 2);
  }

  .col-1of3 {
    width: calc((100% - 2 * #{$horizontal-gap}) / 3);
  }

  .col-1of4 {
    width: calc((100% - 3 * #{$horizontal-gap}) / 4);
  }
}
