@use "../abstracts/index" as *;

.stories {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem; //fixing the circle img leaving padding
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  font-size: $default-size;
  transform: skewX(-12deg);

  @include responsive(tab-portrait) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include responsive(phone) {
    transform: skewX(0);
  }

  &__round {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: pink;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(
      50% at 50% 50%
    ); //for this to work the element needs to float and safari thats work so we need webkit and needs height and width defined
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;

    @include responsive(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4); //centering img on round shape
    transition: all 0.6s;
  }

  &__text {
    transform: skewX(12deg);

    @include responsive(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: all 0.6s;
    backface-visibility: hidden;
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px);
  }
}
