.text-center {
  text-align: center;
}

.marg-top-l {
  margin-top: 8rem;
}
.marg-top-xl {
  margin-top: 10rem;
}

.marg-bottom-s {
  margin-bottom: 1.5rem;
}
.marg-bottom-m {
  margin-bottom: 4rem;
}
.marg-bottom-l {
  margin-bottom: 8rem;
}
