@use "../abstracts/index" as *;

.text-center {
  text-align: center;
}

// MARGIN TOP
.marg-top-l {
  margin-top: 8rem;
}
.marg-top-xl {
  margin-top: 10rem;
}

//MARGIN BOTTOM

.marg-bottom-s {
  margin-bottom: 1.5rem;
}
.marg-bottom-m {
  margin-bottom: 4rem;

  @include responsive(tab-portrait) {
    margin-bottom: 3rem;
  }

  @include responsive(phone) {
    margin-bottom: 2rem;
  }
}
.marg-bottom-l {
  margin-bottom: 8rem;

  @include responsive(tab-portrait) {
    margin-bottom: 5rem;
  }
}
